body {
  background-color: #69F0AE;
}

a {
  cursor: pointer;
}

.quote-box {
  font-family: "Raleway", sans-serif;
  color: #333;
  opacity: 8;
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 700px;
  margin: 50px auto;
  padding: 30px 30px;
}

.fa-quote-left,
.fa-quote-right {
  margin: 0 25px;
}

.quote-text {
  font-weight: 500;
  font-size: 48px;
}

.author-text {
  margin-bottom: 30px;
  font-size: 20px;
}

.buttons {
  text-align: right;
}

.fa-twitter-square {
  margin-right: 30px;
}

.fa-twitter-square:hover,
.fa-arrow-right:hover {
  opacity: .8;
}
