body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  cursor: pointer;
}

.quote-box {
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  width: 700px;
  margin: 50px auto;
  padding: 30px 30px;
}

.quote-text {
  font-size: 48px;
}

.author-text {
  margin-bottom: 30px;
}

.buttons {
  text-align: right;
}

.fa-twitter-square {
  margin-right: 30px;
}

.fa-arrow-right {

}
