body {
  background-image: url('http://maswee.com/i/2016/10/movie-collage-wallpaper.jpg');
}

a {
  cursor: pointer;
}

.quote-box {
  font-family: "Raleway", sans-serif;
  color: #333;
  opacity: 8;
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 800px;
  margin: 150px auto;
  padding: 30px 40px;
}

.fa-quote-left,
.fa-quote-right {
  margin: 0 25px;
}

.quote-text {
  font-weight: 500;
  font-size: 48px;
}

.author-text {
  margin: 0px 50px 30px 0px;
  text-align: right;
  font-size: 20px;
}

.buttons {
  text-align: right;
}

.fa-twitter-square {
  margin-right: 30px;
}

.fa-twitter-square:hover {
  opacity: .8;
  color: #F44336;
}
